/** GitHub Page **/
.github-page:not(.iframe) {
  background: aliceblue url("https://vignette.wikia.nocookie.net/dragonfish/images/5/50/Wiki-background/revision/latest/scale-to-width-down/1280?cb=20180308051626&path-prefix=zh") 50% -100px / cover no-repeat fixed;
  background-attachment: fixed;
  padding: 16px;
}

.github-page:not(.iframe) article {
  background: rgba(255, 255, 255, .7);
  width: calc(100% - 32px);
  padding: 16px;
  border: 1px solid #aaa;
  box-sizing: content-box;
}

.github-page:not(.iframe) main {
  min-height: calc(100vh - 300px)
}

.github-page h1 {
  border: none;
  background: linear-gradient(90deg, rgb(28, 98, 227), rgba(255, 255, 255, 0));
  background-position: 0 42px;
  background-repeat: repeat-x;
  background-size: 100% 8px;
  text-shadow: 2px 0px 0px white;
  width: 100%;
  padding-left: 4px;
  margin: 0 0 18px 0;
  font-size: 42px;
}

.github-page h2 {
  padding-top: 2px;
  border: none;
  background: linear-gradient(90deg, rgb(127, 172, 255), rgba(210, 232, 255, 0.53));
  background-position: 0 18px;
  background-repeat: repeat-x;
  background-size: 100% 4px;
  font-size: 21px;
  text-shadow: 2px 0px 0px white;
}

.github-page a {
  color: #006cb0;
  text-decoration: none;
  text-shadow: 0 -15px 2.5px transparent, 0 15px 2.5px transparent;
  text-decoration: none;
  transition: all .05s;
}

.github-page code {
  border: 1px solid #aaa;
  border-radius: 2px;
  padding: 0 2px;
  background: rgba(200, 200, 200, .3)
}

.github-page hr {
  border: none;
  border-bottom: 4px solid #bbb;
  width: 280px;
  margin: 0 auto;
}

.github-page .infobox {
  font-size: .85em;
  text-align: center;
  width: 260px;
  max-width: 100%;
  float: right;
  background-color: #e6f5f9;
  margin: 1em 10px 2em 1em;
}

.github-page footer {
  text-align: center;
  color: #888;
  font-size: small;
}

@media screen and (max-width: 800px) {
  .github-page .infobox {
    float: laft;
    width: 100%;
  }
}

/** 版本信息模块 **/
.status-tag {
  padding: 1px 4px;
  margin-right: 4px;
  user-select: none;
  cursor: default;
  text-transform: uppercase;
  border-radius: 2px;
  background: #888888;
  color: #ffffff;
}

.status-tag.new {
  background: #6cc569;
}

.status-tag.test {
  background: #6bbfe9;
}

.status-tag.fixed {
  background: #cc69e0;
}

.status-tag.deleted {
  background: #c22525;
}