.infobox {
  font-size: .85em;
  text-align: center;
  width: 260px;
  max-width: 100%;
  float: right;
  background-color: #e6f5f9;
  margin: 1em 10px 2em 1em;
}

@media screen and (max-width: 800px) {
  .infobox {
    float: left;
    width: 100%;
  }
}

h2 {
  border: none;
  background: linear-gradient(90deg, rgb(127, 172, 255), rgba(210, 232, 255, 0));
  background-position: 0 1em;
  background-repeat: no-repeat;
  background-size: 75% 4px;
  text-shadow: 2px 0px 0px white;
}

h3 {
  border: none;
  background: linear-gradient(90deg, rgb(148, 183, 248), rgba(210, 232, 255, 0));
  background-position: 0 1em;
  background-repeat: no-repeat;
  background-size: 60% 3px;
  text-shadow: 2px 0px 0px white;
}