.mp-sec {
  margin: 30px inherit 30px;
  padding: 36px;
}

.mp-cell-text p {
  color: #757575;
}

.mp-cell-left {
  display: table;
}

.mp-cell-right {
  float: right;
  display: table;
}

#mp-sec-1 {
  font-size: 32px;
}

#mp-sec-1 h2 {
  text-align: center;
}

#mp-sec-1 h4,
#mp-sec-1 h3 {
  text-align: center;
  font-weight: 400;
  opacity: .78;
  font-size: 16px;
  color: #757575;
}

#mp-sec-1>a {
  margin: 0 auto;
}
/* From Fandom Design System */
 .avatar-stack img  {
  background-color:#fff;
  fill:#1a1a1a;
  width: 64px;
  position:relative;
  margin-right: -20px;
}
.avatar-stack {
  align-items: center;
  display: flex;
  margin: 8px 18px 6px 40px;
}
.avatar-stack-overflow {
  border:0;
  font-size:12px;
  padding-left:6px;
  width:auto
 }
