/** 版本信息模块 **/
.status-tag {
  padding: 1px 4px;
  margin-right: 4px;
  user-select: none;
  cursor: default;
  text-transform: uppercase;
  border-radius: 2px;
  background: #888888;
  color: #ffffff;
}

.status-tag.new {
  background: #6cc569;
}

.status-tag.test {
  background: #6bbfe9;
}

.status-tag.fixed {
  background: #cc69e0;
}

.status-tag.deleted {
  background: #c22525;
}