<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><% if (title !== '') { %>
    <%= title %> |
    <% } %>InPageEdit Analysis Admin | Wjghj API</title>
  <link rel="stylesheet" href="ipea-admin/style.css">
</head>

<body>
  <main>
    <article>
      <% if (content) { %>
      <%- content %>
      <% } %>
    </article>
  </main>

</body>

</html>